In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine, text
from sklearn.metrics.pairwise import cosine_similarity

# ✅ 1) DB connection (edit user/pass if needed)
DB_USER = "root"
DB_PASS = ""
DB_HOST = "127.0.0.1"
DB_NAME = "esports_db"

engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}?charset=utf8mb4")

# ✅ 2) Load order baskets (order_item)
df = pd.read_sql("""
    SELECT 
        oi.order_ref_id AS order_id,
        oi.product_id,
        oi.quantity
    FROM order_item oi
""", engine)

print("Rows:", df.shape)
display(df.head())

if df.empty:
    raise Exception("order_item table is empty => need data to train recommender.")

# ✅ 3) Build basket matrix (orders x products) with quantity as weight
basket = df.pivot_table(
    index="order_id",
    columns="product_id",
    values="quantity",
    aggfunc="sum",
    fill_value=0
)

print("Basket matrix shape:", basket.shape)

# ✅ 4) Item-item similarity using cosine
# transpose => products x orders
X = basket.T.values
sim = cosine_similarity(X)
prod_ids = basket.columns.to_list()

sim_df = pd.DataFrame(sim, index=prod_ids, columns=prod_ids)

# ✅ 5) Popular fallback (for new products with no history)
# popularity = total qty sold
popularity = df.groupby("product_id")["quantity"].sum().sort_values(ascending=False)
top_popular = popularity.index.tolist()

# ✅ 6) Create recommendations (Top-K per product)
TOP_K = 6
rows_to_insert = []
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

for pid in prod_ids:
    # similarity scores for this product
    scores = sim_df.loc[pid].copy()
    scores.loc[pid] = -1  # remove itself

    # get top K
    top = scores.sort_values(ascending=False).head(TOP_K)

    for rec_pid, score in top.items():
        if score <= 0:
            continue
        rows_to_insert.append((int(pid), int(rec_pid), float(score), now))

# ✅ 7) If some products have no rec (rare), fill with popular
all_products = pd.read_sql("SELECT id FROM product", engine)["id"].tolist()
existing_pid = set([r[0] for r in rows_to_insert])

for pid in all_products:
    if pid in existing_pid:
        continue
    # recommend top popular excluding itself
    c = 0
    for rec in top_popular:
        if rec == pid:
            continue
        rows_to_insert.append((int(pid), int(rec), 0.1, now))
        c += 1
        if c >= TOP_K:
            break

print("Recommendations rows:", len(rows_to_insert))

# ✅ 8) Save into product_recommendation (UPSERT)
with engine.begin() as conn:
    # optional: clear old (keeps table small & fresh)
    conn.execute(text("DELETE FROM product_recommendation"))

    insert_sql = text("""
        INSERT INTO product_recommendation (product_id, recommended_product_id, score, generated_at)
        VALUES (:p, :r, :s, :g)
        ON DUPLICATE KEY UPDATE score=VALUES(score), generated_at=VALUES(generated_at)
    """)

    conn.execute(insert_sql, [
        {"p": p, "r": r, "s": s, "g": g}
        for (p, r, s, g) in rows_to_insert
    ])

print("✅ Done. Stored recommendations in product_recommendation.")

Rows: (2466, 3)

   order_id  product_id  quantity
0        37          19         1
1        38          18         1
2        38          19         1
3        39          18         1
4        40          18         2

Basket matrix shape: (1240, 17)
Recommendations rows: 108
✅ Done. Stored recommendations in product_recommendation.